PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/pocketa
JWT_SECRET=change_this_jwt_secret_please
REFRESH_TOKEN_SECRET=change_this_refresh_secret_please
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
CORS_ORIGIN=http://localhost:3000
COOKIE_SECURE=false
NODE_ENV=development

# Cloudinary — در production الزامی است
# https://cloudinary.com/ Console → Dashboard → API Keys
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
